
<h2 class=comTitle><{$title}></h2>

<form name="listform" action='groupselect.php?sort=<{$sort}>' method="POST">
<input type=hidden name=sortprior value='<{$sort}>'>
<table class='outer' >
<tr><TD colspan="2">

<input type="text" name="filter">&nbsp; 
<input type="submit" name="submit" value="<{$oscmem_applyfilter}>">&nbsp;
<input type="submit" name="submit" value="<{$oscmem_clearfilter}>"></TD><td align="right">
<input type="submit" name="submit" value="<{$oscmem_addgroup}>">
&nbsp;<input type="submit" name="submit" value="<{$oscmem_emptycarttogroup}>">
&nbsp;<input type="submit" name="submit"  value="<{$oscmem_addtocart}>"> 
&nbsp;<input type="submit" name="submit" value="<{$oscmem_removefromcart}>">
</td></tr>
<tr>
<th>
<input name="allbox" id="allbox" onclick="xoopsCheckAll('listform','allbox');" type="checkbox" value="Check All" /></th>
<th><a href='index.php?sort=groupname' class=sort><{$oscmem_groupname}></a></th>
<th>&nbsp;</th>
</tr>
<{foreach item=group from=$groups}>
<{ if $group->getVar('oddrow') == true }>
<tr class="odd">
<{/if}>
<{ if $group->getVar('oddrow') == false }>
<tr class="even">
<{/if}>
<td width=10><input name="chk<{$group->getVar('loopcount')}>" id="chk<{$group->getVar('loopcount')}>" value="<{$group->getVar('id')}>" type="checkbox"></td>
<td><{$group->getVar('group_Name')}></td>
<td><{ if $is_perm_view }>
<a href='groupdetailview.php?id=<{$group->getVar('id')}>'><{$oscmem_view}></a>
<{/if}>
&nbsp;&nbsp;&nbsp;
<{ if $is_perm_modify }>
<a href='groupdetailform.php?id=<{$group->getVar('id')}>'><{$oscmem_edit}></a>
</a>
<{/if}>
</td></tr>
<{/foreach}>

</table>
<input type="hidden" name="loopcount" value="<{$loopcount}>">
</form>

