
<h2 class=comTitle><{$title}></h2>

<form action='index.php?sort=<{$sort}>' method="POST">
<input type=hidden name=sortprior value='<{$sort}>'>
<table class='outer' >
<tr><TD colspan="4">

<input type="text" name="filter">&nbsp; 
<input type="submit" name="submit" value="<{$oscmem_applyfilter}>">&nbsp;
<input type="submit" name="submit" value="<{$oscmem_clearfilter}>"></TD><td align="right">
<input type="submit" name="submit" value="<{$oscmem_addmember}>">
&nbsp;&nbsp;<input type="submit" name="submit"  value="<{$oscmem_addtocart}>"> 
&nbsp;<input type="submit" name="submit" value="<{$oscmem_removefromcart}>">
</td></tr>
<tr><th><input name="allbox" id="allbox" onclick="xoopsCheckAll('listform','allbox');" type="checkbox" value="Check All" /></th>
<th><a href='index.php?sort=lastname' class=sort><{$item_name}></a></th>
<th><{$item_detail_1}></th><th><{$item_detail_2}></th><th></th>
</tr>
<{foreach item=itemdetail from=$items}>
<{ if $itemdetail.oddrow == true }>
<tr class="odd">
<{/if}>
<{ if $itemdetail.oddrow == false }>
<tr class="even">
<{/if}>

<td width=10><input name="chk<{$itemdetail.loopcount}>" value="<{$item.id}>" type="checkbox"></td>
<td><{$itemdetail.name}></td>
<td><{$itemdetail.detail1}></td>
<td><{$itemdetail.detail2}></td>
<td><a href='<{$itemdetail.editform}>'>Edit</a></td>
</tr>
<{/foreach}>

</table>
<input type="hidden" name="loopcount" value="<{$loopcount}>">
<!--
Empty Cart<br>
Empty Cart to Group<br>
Empty Cart to Family<br>
CSV Export<br>
Open Standard E-mail Client<br>
-->
</form>

