<h2><{$title}></h2>
<!--<table class="outer" border="1" >-->
<form action="CSVCreateFile.php" method="POST">
<table class="outer" >
<!--<tr><TD colspan="2"><hr></TD></tr>-->
<tr><td>
<table border='0' width='100%'>
<tr valign='top' align='left'><td></td><td><{$oscmem_cvsexport_infoinclude}>
</td></tr>
<tr><TD>&nbsp;</TD></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='btitle' name='btitle' value='0' checked='checked' /><{$oscmem_title}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bfirstname' name='bfirstname' value='0' checked='checked' /><{$oscmem_firstname}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='baddress' name='baddress1' value='0' checked='checked' /><{$oscmem_address}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bcity' name='bcity' value='0' checked='checked' /><{$oscmem_city}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bstate' name='bstate' value='0' checked='checked' /><{$oscmem_state}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bpost' name='bpost' value='0' checked='checked' /><{$oscmem_post}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bcountry' name='bcountry' value='0' checked='checked' /><{$oscmem_country}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bhomephone' name='bhomephone' value='0' checked='checked'/>
<{$oscmem_homephone}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bworkphone' name='bworkphone' value='0' checked='checked' />
<{$oscmem_workphone}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bcellphone' name='bcellphone' value='0' checked='checked' />
<{$oscmem_cellphone}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bemail' name='bemail' value='0' checked='checked' />
<{$oscmem_email}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='otheremail' name='otheremail' value='0' checked='checked' />
<{$oscmem_otheremail}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='benvelope' name='benvelope' value='0' checked='checked' />
<{$oscmem_envelopenumber}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bmembershipdate' name='bmembershipdate' value='0' checked='checked' />
<{$oscmem_membershipdate}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bbirthanniversary' name='bbirthanniversary' value='0' checked='checked' />
<{$oscmem_csv_birthanniversary}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bagemarried' name='bagemarried' value='0' checked='checked' />
<{$oscmem_csv_ageyearsmarried}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bfamilyrole' name='bfamilyrole' value='0' checked='checked' />
<{$oscmem_csv_familyrole}>
</td></tr>
<tr valign='top' align='left'><td></td><td><input type='checkbox' id='bfamilyname' name='bfamilyname' value='0' checked='checked' />
<{$oscmem_csv_familyname}>
</td></tr>
</table>
</td>
<td>
<table class="outer"><TR><td><{$oscmem_cvsexport_customfields}></td></TR>
<tr><TD>&nbsp;</TD></tr>
<{foreach item=customfield from=$custfieldarr}>
<tr valign="top">
<td ><input type="checkbox" id="<{$customfield.id}>" name="<{$customfield.name}>" value="<{$customfield.value}>"/>
<{$customfield.field_name}>
</td>
</tr>
<{/foreach}>
</table>
</td>
<td>
<table>
<tr><TD>&nbsp;</TD></tr>
<tr><TD>&nbsp;</TD></tr>
<tr valign='top' align='left'>
<td><{$oscmem_filters}></td>
<td><select  size='1' name='sfilters' id='class'>
<option value='<{$oscmem_fromfilterbelow}>'><{$oscmem_fromfilterbelow}></option>
<option value='<{$oscmem_fromcart}>'><{$oscmem_fromcart}></option>
</select>
</tr>
<tr valign='top' align='left'>
<td><{$oscmem_classificationstoexport}></td>
<td><select  size='5' name='sclassifications[]' id='class' multiple='multiple'>
<{foreach item=option from=$option_array}>
<option value='<{$option.id}>'><{$option.name}></option>
<{/foreach}>
</select></td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_rolestoexport}></td>
<td><select  size='5' name='srole[]' id='class' multiple='multiple'>
<{foreach item=role from=$role_array}>
<option value='<{$role.id}>'><{$role.name}></option>
<{/foreach}>
</select></td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_gender}></td>
<td><select  size='1' name='gender' id='gender'>
<{foreach item=gender from=$gender_array}>
<option value='<{$gender.id}>'><{$gender.name}></option>
<{/foreach}>
</select></td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_groupmember}></td>
<td><select  size='5' name='group[]' id='class' multiple='multiple'>
<{foreach item=group from=$groups_array}>
<option value='<{$group.id}>'><{$group.name}></option>
<{/foreach}>
</select></td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_membershipdate}></td>
<td>
<{$memberdatefrom}>
<{$memberdateto}>
</td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_birthday}></td>
<td><{$birthdayfrom}>
<{$birthdayto}>
</td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_anniversary}></td>
<td><{$ann_from}>
<{$ann_to}>
</td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_dateentered}></td>
<td>
<{$dateentered_from}>
<{$dateentered_to}>
</td></tr>
<tr valign='top' align='left'>
<td><{$oscmem_csv_outputmethod}></td>
<td><{$outputmethod}>
</td></tr>
<tr valign='top' align='left'>
<td>&nbsp;</td>
<td><{$skipincompleteaddress}>
</td>
</tr>
<tr valign='top' align='left'>
<td></td>
</tr>
</table>
</td>
</tr>
<tr><TD><{$submit}></TD></tr>
</table>
</form>
