
<h2 class=comTitle><{$title}></h2>

<form action='familyselect.php?sort=<{$sort}>' name='listform' method="POST">
<input type=hidden name=sortprior value='<{$sort}>'>
<table class='outer' >
<tr><TD colspan="3">

<input type="text" name="filter">&nbsp; 
<input type="submit" name="submit" value="<{$oscmem_applyfilter}>">&nbsp;
<input type="submit" name="submit" value="<{$oscmem_clearfilter}>"></TD><td align="right">
<input type="submit" name="submit" value="<{$oscmembership_addcarttofamily}>">
</td></tr>
<tr><th>&nbsp;</th>
<th><a href='familyselect.php?sort=name' class=sort><{$oscmem_familyname}></a></th>
<th><a href='familyselect.php?sort=citystate' class=sort><{$oscmem_address}></a></th><th><a href='familyselect?sort=email' class=sort><{$oscmem_email}></a></th><th></th>
</tr>
<{foreach item=family from=$families}>
<{ if $family->getVar('oddrow') == true }>
<tr class="odd">
<{/if}>
<{ if $family->getVar('oddrow') == false }>
<tr class="even">
<{/if}>

<td width=10><input name="chk<{$family->getVar('loopcount')}>" value="<{$family->getVar('id')}>" type="checkbox"></td>
<td><{$family->getVar('familyname')}></td>
<td><{$family->getVar('city')}>, <{$family->getVar('state')}></td><td><{$family->getVar('email')}></td>
</tr>
<{/foreach}>

</table>
<input type="hidden" name="totalloopcount" value="<{$totalloopcount}>">
</form>

